.flex{
    display: flex;
    justify-content: space-evenly;
}
.marg{
    margin-right: 15px;
}


/* Modal */

.space-between{
    display: flex;
    justify-content: space-between;

    padding: 120px, 0, 120px, 0 ;
}
.space{
    display: contents;
}