<header id="header">
  <nav class="container">
    <a class="logo" href="">
      <span>TOURS-</span> <span class="sa">SA</span> <span>.</span>
    </a>

    <div class="menu">
      <ul>
        <li><a class="nav-title" href="#home">Início</a></li>
        <li><a class="nav-title" href="#start">Atrações</a></li>
        <li><a class="nav-title" href="#about">Sobre</a></li>
        <li><a class="nav-title" href="#review">Depoimentos</a></li>
        <li>
          <a class="nav-title" (click)="navigateToRegisterContact()"
            >Fale Conosco</a
          >
        </li>
      </ul>
    </div>

    <div class="toggle icon-menu"></div>
    <div class="toggle icon-close"></div>
  </nav>
</header>
