<header class="content-alignment" id="header">
  <nav class="content-in-center">
    <a class="logo" href="">
      <span>TOURS-</span> <span class="sa">SA</span> <span>.</span>
    </a>

    <div class="menu">
      <ul>
        <li><a class="nav-title" href="#home">Início</a></li>
        <li><a class="nav-title" href="#start">Atrações</a></li>
        <li><a class="nav-title" href="#about">Sobre</a></li>
        <li><a class="nav-title" href="#review">Depoimentos</a></li>
        <li>
          <a class="nav-title" (click)="navigateToRegisterContact()"
            >Fale Conosco</a
          >
        </li>
      </ul>

      <div class="show-button">
        <button (click)="navigateToRegisterContact()">solicitar cotação</button>
      </div>
    </div>
  </nav>
</header>
