.card {
  height: 100%;
  padding: 2rem;
  border-bottom: 0.25rem solid var(--base-color);
}

mat-card-header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.app-card-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.app-card-body h3 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-card-body p {
  height: 100px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

@media (min-width: 767px) {
  .card {
    max-width: 500px;
  }
}
