.card {
  height: 100%;
  gap: 16px;
  padding: 3rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
}

.app-card-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.app-card-body h3 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-card-body p {
  height: 100px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.btn-card {
  width: 100px;
  height: 3.5rem;
  border-radius: 0.25rem;
  color: var(--text-color-light);
  font: 500 1rem var(--title-font);
  background-color: var(--base-color);
}

@media (min-width: 767px) {
  .card {
    max-width: 500px;
  }
}
