<header id="header">
  <nav class="container"> 
      
    <a class="logo" href=""><span>TOUR-</span> <span class="sa">SA</span> <span>.</span></a>

      <div class="menu">
          <ul class="grid">
              <li><a class="title" href="#">Início</a></li>
              <li><a class="title" href="#">Atrações</a></li>
              <li><a class="title" href="#">Sobre</a></li>
              <li><a class="title" href="#">Depoimentos</a></li>
              <li><a class="title" href="#">Contato</a></li>
              <li><a class="title">Lista</a></li>
          </ul>
      </div>
      <div class="toggle icon-menu"></div>
      <div class="toggle icon-close"></div>
  </nav>
</header>

