<header id="header">
  <nav class="container"> 
      
    <a class="logo" href=""><span>TOUR-</span> <span class="sa">SA</span> <span>.</span></a>

      <div class="menu">
          <ul class="grid">
            <li><a class="title" href="#inicio">Início</a></li>
            <li><a class="title" href="#home">Atrações</a></li>
            <li><a class="title" href="#about">Sobre</a></li>
            <li><a class="title" href="#testimonials">Depoimentos</a></li>
            <li><a class="title" href="#contact">Contato</a></li>
            <li><a class="title" mat-list-item routerLink="/lista">Lista</a></li>
            <li><a class="title" mat-list-item routerLink="/lista2">Lista2</a></li>
          </ul>
      </div>
      <div class="toggle icon-menu"></div>
      <div class="toggle icon-close"></div>
  </nav>
</header>

