/* Base */

html{
    scroll-behavior: smooth;
}

body{
    font: 400 1rem var(--body-font);
    color: var(--text-color);
    background: var(--body-color);
    /* -webkit-font-smoothing: antialiased; */
    height: 100%;
}

.title{
    font: 700 1.875rem var(--title-font);
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}

.button{
    background-color: var(--base-color);
    color: var(--text-color-light);
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.25rem;
    font: 500 1rem var(--body-font);
    transition: background 0.3s;
}

button:hover{
    background: var(--base-color-alt);
}

.btn-card{
    background-color: var(--base-color);
    color: var(--text-color-light);
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 5.5rem;
    border-radius: 0.25rem;
    font: 500 1rem var(--body-font);
    transition: background 0.3s;
}

.pdd{
    padding: 0 6.5rem; 
}

/* Layout */

.container{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid{
    display: grid;
    gap: 2rem;
}

.section{
    padding: calc(5rem + var(--header-height)) 0;
}

.section .title{
    margin-bottom: 1rem;
}

.section .subtitle{
    font-size: var(--subtitle-font-size);
}

.section header{
    margin-bottom: 4rem;
}

#header{
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: var(--body-color);
}

#header.scroll{
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

/* Toggle Menu */

.toggle{
    color: var(--base-color);
    font-size: 1.5rem;
    cursor: pointer;
}

nav .icon-close{
    visibility: hidden;
    opacity: 0;

    position: absolute;
    right: 1.5rem;
    top: -1.5rem;
    
    transition: 0.2s;

}

nav.show div.icon-close{
    visibility: visible;
    opacity: 1;
    top: 1.5rem;
}



/* Home */

#home{
    overflow: hidden;
}

#home .container{
    margin: 0;
}

#home .image img{
    position: relative;
    right: 3rem;
}

#home .image{
    position: relative;
}

#home .image::before{
    content: '';
    height: 100%;
    width: 100%;
    background: var(--base-color-second);
    position: absolute;
    top: -16.8%;
    left: 16.8%;
    z-index: 0;
}

#home .image::before,
#home .image img{
    border-radius: 0.25rem;
}

#home .text{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
}

#home .text h1{
    margin-bottom: 1rem;
}

#home .text p{
    margin-bottom: 2rem;
    max-width: 100%;
}


/* About */

#about{
    background: white;
}

#about .container{
    margin: 0;
}

#about .image img{
    position: relative;
}

#about .image{
    position: relative;
}

#about .image::before{
    content: '';
    height: 100%;
    width: 100%;
    background: var(--base-color-second);
    position: absolute;
    top: -8.3%;
    left: -33%;
    z-index: 0;
}

#about .image::before,
#about .image img{
    border-radius: 0.25rem;
}

#about .text{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
}

/* Services */

.cards.grid{
    gap: 1.5rem;
}

.card{
    padding: 3.625rem 2rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-bottom: 0.25rem solid var(--base-color);
    border-radius: .25rem .25rem 0 0;
    text-align: center;
}

.card span{
    display: block;
    margin-bottom: 1.5rem;
    font-size: 5rem;
    color: var(--base-color);
}
.card .title{
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}



/* Testimonials */

#testimonials{
    background: white;

}

#testimonials .container{
    margin-left: 0;
    margin-right: 0;
}

#testimonials header{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 0;
}

#testimonials blockquote{
    padding: 2rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-radius: 0.25rem;
}

#testimonials blockquote p{
    position: relative;
    text-indent: 1.875rem;
    margin-bottom: 1.5rem;
    color: var(--title-color);
}

#testimonials blockquote p span{
    font: 700 2.5rem serif;
    position: absolute;
    top: -0.375rem;
    left: -1.875rem;
    color: var(--base-color);
}

#testimonials cite{
    display: flex;
    align-items: center;
    font-style: normal;
}

#testimonials cite img{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    clip-path: circle();
    margin-right: .5rem;
}

/* Swiper */

.swiper-slide{
    height: auto;
    padding: 4rem 1rem;
}

.swiper-pagination-bullet-active{
    background: var(--base-color);
}


/* Contact */

#contact .grid{
    gap: 4rem;
}

#contact .text p{
    margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i{
    font-size: 1.5rem;
    margin-right: 0.625rem;
}

#contact ul.grid{
    gap: 2rem;
}

#contact ul li{
    display: flex;
    align-items: center;
}

#contact ul li i{
    color: var(--base-color);
}

/* Back to top */

.back-to-top{
    background: var(--base-color);
    color: var(--text-color-light);
    position: fixed;

    right: 1rem;
    bottom: 1rem;

    padding: 0.5rem;
    clip-path: circle();

    font-size: 1.5rem;
    line-height: 0;

    visibility: hidden;
    opacity: 0;

    transition: 0.3s;
    transform: translateY(100%);
}

.back-to-top.show{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

/* Responsive - Media Queries */

@media (min-width: 1200px) {

    .container{
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }

    .section{
        padding: 10rem 0;
    }

    .section header,
    #testimonials header {
        max-width: 32rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .button{
        height: 3.125rem;
    }

    nav .menu ul{
        display: flex;
        gap: 2rem;
    }

    nav .menu ul li a.title{
        font: 400 1rem var(--body-font);
        -webkit-font-smoothing:antialiased;
    }

    nav .menu ul li a.title.active{
        font-weight: bold;
        -webkit-font-smoothing: auto;        
    }

    nav .icon-menu{
        display: none;
    }

    nav .menu{
        opacity: 1;
        visibility: visible;
    }

    /* Layout */

    main{
        margin-top: var(--header-height);
    
    }

    /* Home */

    #home .container{
        grid-auto-flow: column;
        justify-content: space-between;
        margin: 0 auto;
    }

    #home .image{
        order:1;
    }

    #home .text{
        order: 0;
        max-width: 24rem;
        text-align: left;
    }

    /* About */

    #about .container{
        margin: 0 auto;
        grid-auto-flow: column;
    }

    /* Services */

    .cards{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card{
        padding-left: 3rem;
        padding-right: 3rem;
    }

    /* Testimonials */

    #testimonials .container{
        margin-right: auto;
        margin-left: auto;
    }

    /* Contact */

    #contact .container{
        grid-auto-flow: column;
        align-items: center;
    }

    #contact .text{
        max-width: 25rem;
    }      
}

@media (min-width: 992px){
    :root{
        --title-font-size: 2.25rem;
        --subtitle-font-size: 1.125rem;
    }    
}