#contact {
  background-color: #ededed;
}

#contact ul {
  margin: 0;
  padding: 0;
}

#contact ul li {
  list-style-type: none;
}

#contact ul li i {
  color: var(--base-color);
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact .links {
  display: flex;
  justify-content: center;
  font-size: 32px;
  gap: 28px;
}

.logo-color span {
  color: black !important;
  font-size: 32px;
}

footer {
  bottom: 0;
  width: 100%;
  padding: 4rem 0;
  position: inherit;
  background: var(--base-color);
  color: var(--text-color-light);
}

footer .logo {
  font-size: 2.25rem;
}

.sa {
  color: #ff8000;
}

@media (min-width: 767px) {
  #contact .text {
    max-width: 25rem;
  }

  .align-text-start {
    text-align: start;
  }
}
