.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.grid {
  display: grid;
  gap: 2rem;
}

.align-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-t {
  width: 100%;
  text-align: center;
  max-width: 1080px;
  padding: 0 16px;
}

footer {
  background: var(--base-color);
  position: inherit;
  bottom: 0;
  width: 100%;
}

footer.section {
  padding: 4rem 0;
}

footer .align-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .brand {
  width: 100%;
  text-align: center;
  max-width: 1080px;
  padding: 0 16px;
}

footer .brand p {
  color: var(--text-color-light);
}

footer .logo {
  font-size: 2.25rem;
}

.sa {
  color: #ff8000;
}

.logo-color span {
  color: black !important;
  font-size: 32px;
}

#contact {
  background-color: #ededed;
}

#contact .grid {
  gap: 4rem;
}

#contact ul {
  margin: 0;
  padding: 0;
}

#contact ul li {
  list-style-type: none;
}

#contact .button i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul li i {
  color: var(--base-color);
}

#contact .links {
  display: flex;
  justify-content: center;
  gap: 28px;
  font-size: 32px;
}

#contact .links .social a {
  margin-right: 2rem;
  display: inline-block;
  transition: 0.3s;
}

#contact .links .social a:hover {
  transform: translateY(-15px);
}

@media (min-width: 767px) {
  #contact .text {
    max-width: 25rem;
  }

  .contact-align {
    grid-template-columns: repeat(3, 1fr);
  }

  .align-text-start {
    text-align: start;
  }
}
