<!-- Footer -->
<footer class="section">
  <div class="container grid">
      <div class="brand">
          <a href="#inicio" class="logo logo-alt"><span>TOUR-</span><span class="sa">SA</span><span>.</span></a>
          <p>&copy;Nawan Ernandes</p>
          <p>Todos os direitos reservados.&reg;</p>
      </div>

      <div class="social">
          <a href="####" target="_blank">
              <i class="icon-linkedin"></i>
          </a>
      
          <a href="####" target="_blank">
              <i class="icon-github"></i>
          </a>

          <a href="####">
              <span class="material-icons i-email">
                  email
                  </span>
          </a>
      </div>
  </div>
</footer>

