<section class="section" id="contact">
  <div class="align-content-center">
    <div class="center-t align-text-start">
      <div class="contact-align grid">
        <div class="logo">
          <a href="#inicio" class="logo logo-color"
            ><span>TOUR-</span><span class="sa">SA</span><span>.</span></a
          >
        </div>

        <div class="text">
          <h2 class="title">Navegue</h2>
          <ul>
            <li>Inicio</li>
            <li>Atrações</li>
            <li>Sobre</li>
            <li>Depoimentos</li>
            <li>Contato</li>
            <li>Fale Conosco</li>
          </ul>
        </div>

        <div class="links">
          <a href="####" target="_blank">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>

          <a href="####" target="_blank">
            <i class="fa fa-github"></i>
          </a>

          <a href="####">
            <i class="icon-envelope"></i>
            <fa-icon [icon]="envelope"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="section">
  <div class="align-content">
    <div class="brand">
      <p>Copyright &copy; 2024 - Todos os direitos reservados</p>
      <a href="#inicio" class="logo logo-alt"
        ><span>TOUR-</span><span class="sa">SA</span><span>.</span></a
      >
    </div>
  </div>
</footer>
