<section class="position-relative contact-background">
  <div class="first-fold content-alignment">
    <span class="content-in-center">
      <p>Contatos</p>
    </span>
  </div>
</section>

<section class="contact-space">
  <div class="content-alignment">
    <div class="content-in-center text-start">

      <form
        class="contact-form"
        (ngSubmit)="submit()"
        [formGroup]="contactForm"
      >
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="seu@melhoremail.com" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Assunto</mat-label>
          <input matInput formControlName="question" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Telefone</mat-label>
          <input
            matInput
            formControlName="phone"
            placeholder="Telefone (com DDD)"
            mask="(00) 0 0000-0000"
            type="text"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Informações úteis para processarmos seu orçamento</mat-label>
          <textarea
            matInput
            formControlName="note"
            rows="8"
            placeholder="Datas, endereços, número voo, trem ou embarcação..."
          ></textarea>
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit">Enviar</button>
      </form>
    </div>
  </div>
</section>
