.contact-background {
  height: 50vh;
  background-image: url(https://delgrande.com.br/wp-content/uploads/2020/08/Relat%C3%B3rio-de-atendimento-mais-utilizado-em-call-centers-1024x383.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-background .first-fold {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.contact-background .first-fold p {
  color: white;
  font-weight: bold;
  font-size: 46px;
  line-height: 60px;
}

.contact-space {
  padding: 30px 0 90px 0;
}

.contact-space button {
  padding: 15px 40px;
  text-transform: uppercase;
}

.contact-space .heigth-of-textarea {
  height: 300px;
}
