<section class="section contact">
  <div class="content-alignment">
    <div class="content-in-center align-text-start">
      <div class="content-div-alignment">
        <div class="logo">
          <a href="#home">
            <app-avatar
              avatar="../../../../assets/img/tours-logo-1000x1300.png"
            ></app-avatar>
          </a>
        </div>

        <div class="text">
          <h2 class="title footer-title">Navegue</h2>
          <ul>
            <li>
              <a class="nav-title footer-navigation" href="#home">Início</a>
            </li>
            <li>
              <a class="nav-title footer-navigation" href="#start">Atrações</a>
            </li>
            <li>
              <a class="nav-title footer-navigation" href="#about">Sobre</a>
            </li>
            <li>
              <a class="nav-title footer-navigation" href="#review"
                >Depoimentos</a
              >
            </li>
            <li>
              <a class="nav-title" (click)="navigateToRegisterContact()"
                >Fale Conosco</a
              >
            </li>
          </ul>
        </div>

        <div class="links">
          <a href="####" target="_blank">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>

          <a href="####" target="_blank">
            <i class="fa fa-github"></i>
          </a>

          <a href="####">
            <fa-icon [icon]="envelope"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="content-alignment">
    <div class="content-in-center">
      <p>Copyright &copy; 2024 - Todos os direitos reservados</p>
      <a href="#inicio" class="logo logo-alt">
        <span>TOURS-</span>
        <span class="sa">SA</span>
        <span>.</span>
      </a>
    </div>
  </div>
</footer>
