<section class="section contact">
  <div class="content-alignment">
    <div class="content-in-center align-text-start">
      <div class="content-div-alignment">
        <div class="logo">
          <a href="">
            <app-avatar
              avatar="../../../../assets/img/tours-logo-1000x1300.png"
            ></app-avatar>
          </a>
        </div>

        <div class="text">
          <h2 class="title footer-title">Navegue</h2>
          <mat-nav-list>
            <a mat-list-item (click)="scrollTo($event, 'inicio')">Início</a>
            <a mat-list-item (click)="scrollTo($event, 'atracoes')">Atrações</a>
            <a mat-list-item (click)="scrollTo($event, 'sobre')">Sobre</a>
            <a mat-list-item (click)="scrollTo($event, 'depoimentos')">Depoimentos</a>
            <a mat-list-item (click)="navigateToRegisterContact()">Fale Conosco</a>
          </mat-nav-list>
        </div>

        <div class="links">
          <a href="https://www.linkedin.com/in/nawanernandes/" target="_blank">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>

          <a href="https://github.com/nawanernandess" target="_blank">
            <i class="fa fa-github"></i>
          </a>

          <a href="mailto:contato@tours-sa.com">
            <fa-icon [icon]="envelope"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="content-alignment">
    <div class="content-in-center">
      <p>Copyright &copy; 2024 - Todos os direitos reservados</p>
      <a href="" class="logo logo-alt">
        <span>TOURS-</span>
        <span class="sa">SA</span>
        <span>.</span>
      </a>
    </div>
  </div>
</footer>
