<!-- Home  -->
<section id="home">
  <div class="first-fold">
    <span class="title-group">
      <h3>venha para a tours</h3>
      <p class="mb-5">
        Transfers, Tours e Passeios com qualidade e pontualidade.
      </p>
      <button (click)="openModCad()">solicitar cotação</button>
    </span>
  </div>

  <img
    class="first-fold-img"
    src="https://ik.imagekit.io/tvlk/xpe-asset/pBy2pGRnuQ93NrqAiyHztr2w548HhFpVx8GZBQMveNs=/images/content/original/985a15c4-440f-4192-8ef0-5d7a3abe70ee.jpg?tr=q-60,c-at_max,w-720,h-1280&_src=imagekit"
  />
</section>

<div class="divider-1"></div>

<!-- Services   -->
<section class="section" id="inicio">
  <div class="align-content-center">
    <div class="center-t">
      <div class="mb-5">
        <h2>Conheça nosso pacotes</h2>
        <span>
          Passeio turístico para clientes particulares, empresas ou grupos.
        </span>
        <p class="mb-5">
          Nossa missão é conduzir nosso cliente para seu destino com
          profissionalismo, segurança, pontualidade e qualidade de atendimento.
        </p>

        <h2 class="mb-0">Serviço</h2>
      </div>

      <div class="cards grid">
        <div class="card">
          <fa-icon class="size-icon" [icon]="car"></fa-icon>
          <h3 class="title m-0">Transfers</h3>
          <p class="m-0">
            Reserve seu transfer com preços acessíveis, conforto e segurança.
            Serviço rápido, confiável e com atendimento personalizado para
            garantir sua melhor experiência de viagem.
          </p>
          <div class="align-content-center">
            <a class="btn-card" routerLink="/" style="cursor: pointer"
              >Ver mais</a
            >
          </div>
        </div>

        <div class="card">
          <!-- <span class="material-icons"> map </span> -->
          <fa-icon class="size-icon" [icon]="map"></fa-icon>
          <h3 class="title m-0">Passeios</h3>
          <p class="m-0">
            Explore os melhores destinos com nossos passeios exclusivos!
            Descubra paisagens deslumbrantes, cultura local e atrações únicas
            com toda a conveniência e segurança.
          </p>
          <div class="align-content-center">
            <a class="btn-card" mat-list-item style="cursor: pointer"
              >Ver mais</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="divider-2"></div>

<!-- About  -->
<section class="section" id="about">
  <div class="align-content-center">
    <div class="center-t about-align grid">
      <div class="text">
        <h2 class="title">Sobre Nós</h2>
        <p>
          Somos uma empresa com muitos guias turísticos cadastrados, com a
          finalidade de levar um bom atendimento, confiança e segurança aos
          nossos clientes.
        </p>
        <br />
        <p>
          Disponibilizando pessoas qualificadas para te orientar, muitas
          ofertas, desconto e muito mais! Para que você cliente seja bem
          recebido por nossos profissionais.<br />
          <em>
            <strong> Confira os nossos profissionais na área de "Lista"</strong>
          </em>
        </p>
      </div>

      <div class="image">
        <img
          src="https://www.viajeparaisrael.com.br/wp-content/uploads/2019/05/9da848ae1772606332d5a6fb114e2ee8.jpg"
          alt="Dubai"
        />
      </div>
    </div>
  </div>
</section>

<div class="divider-1"></div>

<!-- Testimonials   -->
<section class="section" id="testimonials">
  <div class="align-content-center">
    <div class="center-t">
      <h2 class="title m-0">Depoimentos</h2>
      <swiper-container
        autoplay="true"
        speed="800"
        loop="true"
        pagination="true"
        pagination-clickable="true"
      >
        <swiper-slide>
          <div class="swiper-slide">
            <blockquote>
              <p>
                <span>&ldquo;</span>
                Tive uma experiêcia incrível com o profissional cadastrado nessa
                plataforma, vale muito a pena para quem está atrás de um guia!
              </p>

              <cite>
                <img src="###" alt="Foto cliente" />
                Cliente
              </cite>
            </blockquote>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div class="swiper-slide">
            <blockquote>
              <p>
                <span>&ldquo;</span>
                ????????
              </p>

              <cite>
                <img src="###" alt="Foto cliente" />
                cliente
              </cite>
            </blockquote>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div class="swiper-slide">
            <blockquote>
              <p>
                <span>&ldquo;</span>
                ????????
              </p>

              <cite>
                <img src="###" alt="Foto cliente" />
                cliente
              </cite>
            </blockquote>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</section>

<div class="divider-2"></div>

<!-- Contact   -->
<section class="section" id="contact">
  <div class="align-content-center">
    <div class="center-t align-text-start">
      <div class="contact-align grid">
        <div class="logo">
          <a href="#inicio" class="logo logo-color"
            ><span>TOUR-</span><span class="sa">SA</span><span>.</span></a
          >
        </div>

        <div class="text">
          <h2 class="title">Navegue</h2>
          <ul>
            <li>Inicio</li>
            <li>Atrações</li>
            <li>Sobre</li>
            <li>Depoimentos</li>
            <li>Contato</li>
            <li>Fale Conosco</li>
          </ul>
        </div>

        <div class="links">
          <a href="####" target="_blank">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>

          <a href="####" target="_blank">
            <i class="fa fa-github"></i>
          </a>

          <a href="####">
            <i class="icon-envelope"></i>
            <fa-icon [icon]="envelope"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
