<!-- Home  -->
<section class="position-relative" id="home">
  <div class="first-fold content-alignment">
    <span class="content-in-center">
      <h3>venha para a tours</h3>
      <p class="mb-5">
        Transfers, Tours e Passeios com qualidade e pontualidade.
      </p>
      <button (click)="openModCad()">solicitar cotação</button>
    </span>
  </div>

  <img
    class="first-fold-img"
    src="https://ik.imagekit.io/tvlk/xpe-asset/pBy2pGRnuQ93NrqAiyHztr2w548HhFpVx8GZBQMveNs=/images/content/original/985a15c4-440f-4192-8ef0-5d7a3abe70ee.jpg?tr=q-60,c-at_max,w-720,h-1280&_src=imagekit"
  />
</section>

<div class="divider-1"></div>

<!-- Services   -->
<section class="section" id="inicio">
  <div class="content-alignment">
    <div class="content-in-center">
      <div class="mb-5">
        <fa-icon class="size-icon-in-content" [icon]="planeDerpature"></fa-icon>
        <h2 class="title mt-4">Conheça nosso pacotes</h2>
        <span>
          Passeio turístico para clientes particulares, empresas ou grupos.
        </span>
        <p class="mb-5">
          Nossa missão é conduzir nosso cliente para seu destino com
          profissionalismo, segurança, pontualidade e qualidade de atendimento.
        </p>

        <h2 class="title mb-0">Serviço</h2>
      </div>

      <div class="content-div-alignment">
        <div class="card">
          <fa-icon class="size-icon-in-content" [icon]="car"></fa-icon>
          <h3 class="title m-0">Transfers</h3>
          <p class="m-0">
            Reserve seu transfer com preços acessíveis, conforto e segurança.
            Serviço rápido, confiável e com atendimento personalizado para
            garantir sua melhor experiência de viagem.
          </p>
          <div class="content-alignment">
            <a
              class="btn-card content-alignment"
              routerLink="/"
              style="cursor: pointer"
              >Ver mais</a
            >
          </div>
        </div>

        <div class="card">
          <fa-icon class="size-icon-in-content" [icon]="map"></fa-icon>
          <h3 class="title m-0">Passeios</h3>
          <p class="m-0">
            Explore os melhores destinos com nossos passeios exclusivos!
            Descubra paisagens deslumbrantes, cultura local e atrações únicas
            com toda a conveniência e segurança.
          </p>
          <div class="content-alignment">
            <a
              class="btn-card content-alignment"
              mat-list-item
              style="cursor: pointer"
              >Ver mais</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="divider-2"></div>

<!-- About  -->
<section class="section" id="about">
  <div class="content-alignment">
    <div class="content-div-alignment content-in-center">
      <div class="text">
        <h2 class="title">Sobre Nós</h2>
        <p>
          Somos uma empresa com muitos guias turísticos cadastrados, com a
          finalidade de levar um bom atendimento, confiança e segurança aos
          nossos clientes.
        </p>
        <br />
        <p>
          Disponibilizando pessoas qualificadas para te orientar, muitas
          ofertas, desconto e muito mais! Para que você cliente seja bem
          recebido por nossos profissionais.<br />
          <em>
            <strong> Confira os nossos profissionais na área de "Lista"</strong>
          </em>
        </p>
      </div>

      <div class="image">
        <img
          class="rounded"
          src="https://www.viajeparaisrael.com.br/wp-content/uploads/2019/05/9da848ae1772606332d5a6fb114e2ee8.jpg"
          alt="Dubai"
        />
      </div>
    </div>
  </div>
</section>

<div class="divider-1"></div>

<!-- Testimonials   -->
<section class="section" id="testimonials">
  <div class="content-alignment">
    <div class="content-in-center">
      <h2 class="title m-0">Depoimentos</h2>
      <swiper-container
        autoplay="true"
        speed="800"
        loop="true"
        pagination="true"
        pagination-clickable="true"
      >
        <swiper-slide>
          <div>
            <blockquote>
              <p>
                <span>&ldquo;</span>
                Tive uma experiêcia incrível com o profissional cadastrado nessa
                plataforma, vale muito a pena para quem está atrás de um guia!
              </p>

              <cite>
                <img src="###" alt="Foto cliente" />
                Cliente
              </cite>
            </blockquote>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div>
            <blockquote>
              <p>
                <span>&ldquo;</span>
                ????????
              </p>

              <cite>
                <img src="###" alt="Foto cliente" />
                cliente
              </cite>
            </blockquote>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div>
            <blockquote>
              <p>
                <span>&ldquo;</span>
                ????????
              </p>

              <cite>
                <img src="###" alt="Foto cliente" />
                cliente
              </cite>
            </blockquote>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</section>
