swiper-container::part(bullet-active) {
  background-color: var(--base-color);
}

/* Base */
.grid {
  display: grid;
  gap: 2rem;
}

.align-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.size-icon {
  font-size: 4rem;
  color: var(--base-color);
}

.center-t {
  width: 100%;
  text-align: center;
  max-width: 1080px;
  padding: 0 16px;
}

.title {
  font: 700 1.875rem var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.btn-card {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

/* Layout */
.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

/* Home */
#home {
  position: relative;
}

#home .first-fold {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}

#home .first-fold .title-group {
  text-align: center;
  max-width: 1080px;
  padding: 0 16px;
}

#home .first-fold .title-group h3 {
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: underline;
  color: white;
}

#home .first-fold .title-group p {
  color: white;
  font-weight: bold;
  font-size: 46px;
  line-height: 60px;
}

#home .first-fold .title-group button {
  background: transparent;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 16px;
  font-size: 16px;
}

#home .first-fold-img {
  width: 100%;
  height: calc(100vh - 100px);
}

/* Services */
.card {
  gap: 16px;
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

.card span {
  font-size: 5rem;
  color: var(--base-color);
}

.card .title {
  font-size: 1.5rem;
}

/* About */
#about .image img {
  border-radius: 0.25rem;
}

/* Testimonials */
#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

#testimonials blockquote p {
  position: relative;
  text-align: start;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  color: var(--title-color);
}

#testimonials blockquote p span {
  font: 700 2.5rem serif;
  position: absolute;
  top: -0.375rem;
  left: -1.875rem;
  color: var(--base-color);
}

#testimonials cite {
  display: flex;
  align-items: center;
  font-style: normal;
}

#testimonials cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}

/* Swiper */
.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

/* Contact */
.logo-color span {
  color: black !important;
  font-size: 32px;
}

#contact .grid {
  gap: 4rem;
}

#contact ul {
  margin: 0;
  padding: 0;
}

#contact ul li {
  list-style-type: none;
}

#contact .button i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul li i {
  color: var(--base-color);
}

#contact .links {
  display: flex;
  justify-content: center;
  gap: 28px;
  font-size: 32px;
}

#contact .links .social a {
  margin-right: 2rem;
  display: inline-block;
  transition: 0.3s;
}

#contact .links .social a:hover {
  transform: translateY(-15px);
}

/* Responsive - Media Queries */
@media (min-width: 767px) {
  .align-text-start {
    text-align: start;
  }

  .links {
    justify-content: start !important;
  }

  .section {
    padding: 10rem 0;
  }

  .contact-align {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Services */
  .about-align,
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #contact .text {
    max-width: 25rem;
  }
}
