<section class="position-relative contact-background" id="home">
  <div class="first-fold content-alignment">
    <span class="content-in-center">
      <p>Contatos</p>
    </span>
  </div>
</section>

<section class="contact-space">
  <div class="content-alignment">
    <div class="content-in-center text-start">
      <span class="fw-bold">Campos marcados com * são requeridos</span>
      <form class="mt-5">
        <div class="form-group mb-4">
          <label for="name">Nome completo</label>
          <input
            matInput
            id="name"
            name="name"
            class="form-control"
            [(ngModel)]="cadastro.name"
          />
        </div>

        <div class="form-group mb-4">
          <label for="email">Email</label>
          <input
            matInput
            id="email"
            name="email"
            class="form-control"
            [(ngModel)]="cadastro.email"
          />
        </div>

        <div class="form-group mb-4">
          <label for="question">Assunto</label>
          <input
            matInput
            id="question"
            name="question"
            class="form-control"
            [(ngModel)]="cadastro.question"
          />
        </div>

        <div class="form-group mb-5">
          <label for="phone">Telefone</label>
          <input
            matInput
            id="phone"
            name="phone"
            type="tel"
            class="form-control"
            [(ngModel)]="cadastro.phone"
          />
        </div>

        <div class="form-group mb-4">
          <label for="note"
            >Informações úteis para processarmos seu orçamento, como: datas,
            endereços, numero voo, trem ou embarcação.. etc.*</label
          >
          <textarea
            matInput
            class="form-control"
            name="note"
            id="note"
            [(ngModel)]="cadastro.note"
          ></textarea>
        </div>

        <button class="btn btn-primary" (click)="sendContact()">Enviar</button>
      </form>
    </div>
  </div>
</section>
