/* SA do navbar */
.sa {
  color: #ff8000;
}

/* Navigation */
#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: var(--body-color);
}
/* #header.scroll{
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
} */

/* Navigation */

nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

ul {
  list-style: none;
}
nav ul li {
  text-align: center;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
  height: 18px;
}
nav .menu ul {
  display: none;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
  cursor: pointer;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
  font-weight: bold;
}

/* Show Menu */

nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu {
  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  right: 1.5rem;
  top: -1.5rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a .nav-title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a .nav-title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
  }
}
