<header id="header">
  <nav class="container">
    <a class="logo" href=""
      ><span>TOUR-</span> <span class="sa">SA</span> <span>.</span></a
    >

    <div class="menu">
      <ul>
        <li><a class="nav-title" href="#inicio">Início</a></li>
        <li><a class="nav-title" href="#home">Atrações</a></li>
        <li><a class="nav-title" href="#about">Sobre</a></li>
        <li><a class="nav-title" href="#testimonials">Depoimentos</a></li>
        <li><a class="nav-title" href="#contact">Contato</a></li>
        <li><app-dropdown></app-dropdown></li>
      </ul>
    </div>

    <div class="toggle icon-menu"></div>
    <div class="toggle icon-close"></div>
  </nav>
</header>
